# OS
.DS_Store

# IDE
*.swp
*.lock
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
env/

# Environment
.env
.env.local
.env.*.local

# Testing
.coverage
htmlcov/
.pytest_cache/

# Database
*.db
*.sqlite3
